In [3]:
import pandas as pd

In [31]:
pwd

'/Users/chrismo/Documents/UdaCSP'

In [40]:
df = pd.read_excel('excelfiles/DIAS Attributes - Values 2017.xlsx')

In [42]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Attribute,Description,Value,Meaning
1,NaN,AGER_TYP,best-ager typology,-1,unknown
2,NaN,NaN,NaN,0,no classification possible
3,NaN,NaN,NaN,1,passive elderly
4,NaN,NaN,NaN,2,cultural elderly
5,NaN,NaN,NaN,3,experience-driven elderly
6,NaN,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
7,NaN,NaN,NaN,1,< 30 years
8,NaN,NaN,NaN,2,30 - 45 years
9,NaN,NaN,NaN,3,46 - 60 years

In [44]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [48]:
df

     Unnamed: 1          Unnamed: 2 Unnamed: 3                  Unnamed: 4
0     Attribute         Description      Value                     Meaning
1      AGER_TYP  best-ager typology         -1                     unknown
2           NaN                 NaN          0  no classification possible
3           NaN                 NaN          1             passive elderly
4           NaN                 NaN          2            cultural elderly
...         ...                 ...        ...                         ...
2254        NaN                 NaN          2                       smart
2255        NaN                 NaN          3               fair supplied
2256        NaN                 NaN          4                price driven
2257        NaN                 NaN          5         seeking orientation
2258        NaN                 NaN          6                 indifferent

[2259 rows x 4 columns]

In [52]:
kd = df.groupby('Unnamed: 1').max()

In [54]:
kd.head(20)

,Unnamed: 2,Unnamed: 3,Unnamed: 4
Unnamed: 1,,,
AGER_TYP,best-ager typology,-1,unknown
ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
ALTER_HH,main age within the household,0,unknown / no main age detectable
ANREDE_KZ,gender,"-1, 0",unknown
ANZ_HAUSHALTE_AKTIV,number of households in the building,â€¦,numeric value (typically coded from 1-10)
ANZ_HH_TITEL,number of academic title holder in building,â€¦,numeric value (typically coded from 1-10)
ANZ_PERSONEN,number of adult persons in the household,â€¦,numeric value (typically coded from 1-3)
ANZ_TITEL,number of professional title holder in household,â€¦,numeric value (typically coded from 1-10)
Attribute,Description,Value,Meaning
BALLRAUM,distance to next urban centre,-1,unknown
BIP_FLAG,business-flag indicating companies in the buil...,-1,unknown
CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1A,Work-Life-Balance
CJT_GESAMTTYP,customer journey typology,0,unknown
D19_BANKEN_ANZ_12,transaction activity BANKS in the last 12 months,0,no transactions known
D19_BANKEN_ANZ_24,transaction activity BANKS in the last 24 months,0,no transactions known
D19_BANKEN_DATUM,actuality of the last transaction for the segm...,1,highest activity within the last 12 months
D19_BANKEN_DIREKT_RZ,transactional activity based on the product gr...,0,no transaction known
D19_BANKEN_GROSS_RZ,transactional activity based on the product gr...,0,no transaction known

In [60]:
new_df = kd[kd['Unnamed: 4'].str.contains('unknown')]

In [64]:
new_df = new_df.reset_index(drop=False)

In [66]:
new_df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,AGER_TYP,best-ager typology,-1,unknown
1,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
2,ALTER_HH,main age within the household,0,unknown / no main age detectable
3,ANREDE_KZ,gender,"-1, 0",unknown
4,BALLRAUM,distance to next urban centre,-1,unknown
...,...,...,...,...
226,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
227,WOHNDAUER_2008,length of residence,"-1, 0",unknown
228,WOHNLAGE,residential-area,-1,unknown
229,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
230,ZABEOTYP,typification of energy consumers,"-1, 9",unknown

In [70]:
new_df.to_csv('feature_info.csv', index=False)